@import "variables";
@import "media-queries";

.card {
  width: 350px;
  height: 596px;
  @include mobile {
    width: 327px;
    height: 543px;
  }

  background-color: $blue-card;

  img {
    margin: 24px;
    width: 100%;
  }
}
